@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);

    --dark-grayish-red: hsl(0, 6%, 24%);

    --gradiant-deg: 135deg;
    --gradiant_1-1: hsl(0, 0%, 100%);
    --gradiant_1-2:  hsl(0, 100%, 98%);

    --gradiant_2-1: hsl(0, 80%, 86%);
    --gradiant_2-2: hsl(0, 74%, 74%);

    --text: 16px;
    --weight-sm: 300;
    --weight-md: 400;
    --weight-lg: 600;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

main {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;

    overflow: hidden;

    background: url('./images/bg-pattern-desktop.svg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.img-sm { 
    display: none;
    width: 100%;
}
.img-lg { display: block; }

.img-lg img,
.img-sm img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

/* FORM */

.text {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5rem;
    padding: 0 10%;
    margin: 0 auto;
}

.text nav {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.text .form {
    max-width: 400px;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

/* LIBRARY */

.title {
    font-size: 4rem;
    font-weight: var(--weight-sm);
    color: var(--desaturated-red);
}

.come {
    font-weight: var(--weight-lg);
    color: var(--dark-grayish-red);
}

.sub {
    font-size: var(--text);
    font-weight: var(--weight-md);
    line-height: 1.5rem;
    color: var(--desaturated-red);
}

.input {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border: 1px solid var(--desaturated-red);
}

.input input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    border-radius: 30px;
    border: none;
    outline: none;
}

.input #next {
    padding: 10px 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    background: linear-gradient(
        135deg,
        var(--gradiant_2-1),
        var(--gradiant_2-2)
    );
    cursor: pointer;
}

.input .error { 
    margin-inline: 10px;
    display: none;
}

#valid {
    position: absolute;
    top: 3.1rem;
    left: 1.6rem;
    font-size: 14px;
    color: var(--soft-red);
    display: none;
}

.input #next:hover { box-shadow: 0 0 20px var(--desaturated-red); }

/* QUERIES */   

@media (max-width: 500px) {
    .img-lg { display: none; }
    .img-sm { display: block; }
    main { 
        grid-template-columns: 1fr;
        height: auto;
    }
    nav { padding: 20px; }
    .text { 
        padding: 0;
        gap: 1rem;
    }

    .title { font-size: 2.5rem; }
    .form {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: center;
        gap: 1rem;
        padding: 10px 40px;
        text-align: center;
        margin-bottom: 1rem;
    }
}
